h2{
    color: purple;
    font-family: Georgia;
    font-size: 1.5vw;
    text-align: center;
    margin-top: 1.8vw;
}

p{
    text-align: center;
    color: red;
    font-family: Verdana;
    font-size: 0.8vw;
    margin-top: 3vw;
}

.inp{
    margin-top:1.2vw;
    margin-left: 36%;
}

label{
    color: purple;
    font-family: Georgia;
    font-size: 1.3vw;
}

input:not(#log-in){
    width: 20vw;
    height: 1.5vw;
    border-radius: 5%; 
    border-width: 0 0 0.2vw;
    outline: 0;
    margin-left: 1.3vw; 
    margin-bottom: 0.4vw;
}

input:not(#log-in):focus{
    border-color: red;  
}

#log-in{
    margin-top: 1.5vw;
    width: 13vw;
    height: 2vw;
    border: 0.2vw solid purple;
    font-family: monospace;
    margin-left: 48%
}

#log-in:hover{
    background-color: grey;
    color: red;
}