{% extends 'base.html' %}

{% load static %}

{% block link %}
    <link rel="stylesheet" type="text/css" href="{% static 'MyApp/pr-form.css' %}" />
{% endblock%}

{% block content %}
    <form Method = "POST">
        {% csrf_token %}
        <label> Enter your email to get the reset password process</label>
        <input type = "email" name = "email" placeholder = "Enter your email"class= "rounded_corner"/>
        <input type = "submit" value = "Reset my password"/>
    </form>
{% endblock%}