{% extends 'base.html' %}

{% block content %}
    <div>

        {% if validlink %}
        <form method = "POST">
            {% csrf_token %}
            <h2> ENTER NEW PASSWORD</h2>
            <p> Please enter new password twice so we can verify you typed it in correctly</p>
            
            <div>
                <label for = "new_password1">New Password</label>
                {{form.new_password1}}
            </div>
            
            <div>
                <label for = "new_password2">Confirm Password</label>
                {{form.new_password2}}
            </div>

            <div>
                <input type = "submit" value = "change password"/>
            </div>
        </form>

        {% else %}
        <h2> PASSWORD RESET UNSUCCESSFUL </h2>
        <p>
            The password reset link was invalid, possibly because it has already been used. 
            Please request a new password reset.
        </p>
        {% endif %}


    </div>
{% endblock %}