<!DOCTYPE html>

{% load static %}

<html>
    <head> 
      <meta charset="UTF-8"/>
      <meta http-equiv="X-UA Compatible" content="IE = edge"/>
      <meta name = "viewport" content = "width = device-width, initial-scale = 1.0"/>
      <title> {% block title %} DJANGO IN WEB {% endblock %}</title>
      <link rel="stylesheet" type="text/css" href="{% static 'MyApp/base.css' %}" />

      {% block link %}   {% endblock %}
      
    </head>
      
    <body>

      <section id="Flexbox">

        <div id="header">

          <nav>
            <div id="titleD">
              <h1 id="title">MY BOOK STORE</h1>
            </div>
    
            <div>
    
              {% if user.is_authenticated %}
              <div class="log">
                <a href = "{% url 'logout' %}"> Logout </a>
                <a href = "{% url 'book.all' %}"> Home </a>
              </div>
              {% else %}
              <div class="log">
                <a href = "{% url 'login' %}"> Login </a>
                <a href = "{% url 'book.all' %}"> Home </a>
              </div>
              {% endif %}
    
            </div>
          </nav>

        </div>
        

        <div id="body">  
          <seection>
            {% block content %}
            {% endblock %}
          </seection>
        </div>

        <div id="footer">Footer</div>
      </section>
        
    </body>
</html>