{% extends 'base.html' %}

{% load static %}

{% block title %} Book - {{book.title}} {% endblock %}

{% block link %} 
  <link rel = "stylesheet" href = "{% static 'MyApp/book_detail.css' %}"/> 
{% endblock %}

{% block content %}
    <section>
      <h2> {{book.title}} </h2>

      <div>
        <img src = "{{ book.image.url }}" width = "250px" height = "300px"/>
      </div>

      <div>
        <h3>
          {% for nameA in author %}
            <a id="name-link" href = "{% url 'author.book' author %}"> {{nameA}}  </a>
          {% endfor %}
        </h3>
      </div>

      <h4 id="pages"> Pages : {{book.pageCount}} </h4>
      <h4 class="description"> {{book.shortDescription}} </h4>
      <h4 class="description"> {{book.longDescription}}</h4>

      {% if user.is_authenticated %}  
      <form method = "POST" action = "{% url 'book.review' book.id %}" enctype = "multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type = "submit"> Submit </button>
      </form>
      {% else %}
      <p>
        <a id="review-login" href = "{% url 'login' %}?next={{request.path}}">Login</a>
        <span id="auth">in order to write your review! </span>
      </p>
      {% endif %}

      <div>
        {% for review in reviews %}

        <div id="revBox">
          <h3 id="revUser">{{ review.user }}
            <small id="createdAt">{{ review.created_at }}</small>
          </h3>

          {% if review.image %}
          <img src = "{{ review.image.url }}" width = "70px" height = "70px" style="border-radius: 20%;" />
          {% endif %}

          <p id="revBody"> {{ review.body }} </p>
        </div>

        {% endfor%}
      </div>
    </section>
{% endblock %}
          
      