{% extends 'base.html' %}    

{% load static %}

{% block link%}
   <link rel="stylesheet" type="text/css" href="{% static 'MyApp/book_list.css' %}" />
{% endblock %}


{% block content %}
   <h2> PROGRAMMING BOOKS</h2>

   <div class = "grid">

      {% for book in book_list %}
      
      <a href = "{% url 'book.show' book.id %}" target = "_blank">

         <div class = "book-box">
            <img src = "{{ book.image.url }}" width="200px" height="200px"/>
            <figcaption id="book-name"> {{book.title}} </figcaption>
         </div>
      
      </a>

      {% endfor %}

   </div>
{% endblock %}   
